

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <div class="w-full h-12 bg-red-300">
        <div class="left flex justify-center itmes-center gap-10 text-xl font-bold">
            <a href="/">Home</a>
            <a href="/create">create</a>
            <a href="/read">read</a>
        </div>

    </div>
    
</body>
</html>
