<%- include("./partials/header")%>

<%- include("./partials/nav")%>


<div class="home w-1/2 bg-zinc-300 mt-10 ml-[25%] text-center text-xl capitalize text-blue-500 rounded-lg">
  <h1>create user</h1>
<div class="me mt-[1%]">
    <form action="/createdata" method="post" enctype="multipart/form-data">
      <input type="file" name="img" id=""  class="w-1/2 rounded-lg mt-[1%] border-2 border-black p-1 text-black" >
        <input type="text" name="name" id="" class="w-1/2 rounded-lg mt-[1%] border-2 border-black p-1" placeholder="enter name">
        <input type="email" name="email" id="" class="w-1/2 rounded-lg mt-[1%] border-2 border-black p-1"  placeholder="enter email">
        <input type="number" name="contact" id="" class="w-1/2 rounded-lg mt-[1%] border-2 border-black p-1" placeholder="enter number">
        <br>
        <input type="submit" class="mt-[2%]">

    </form>
</div>
  
</div>

<%- include("./partials/footer")%>