
  
<%- include("./partials/header")%>

<%- include("./partials/nav")%>


<div class="home w-1/2 h-52 bg-zinc-300 mt-10 ml-[25%] text-center text-3xl capitalize text-blue-500 rounded-lg">
  <h1>this is home page</h1>
  <div class="mt-10">
    <a href="/create" class="border-2 border-black rounded-lg bg-pink-100 ">create user</a>
  </div>
</div>

<%- include("./partials/footer")%>